$vasya: blue;

@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

@import "./../../node_modules/bootstrap/scss/bootstrap";

@import "text";

.container {
  background-color: #ffffff;

  h1 {
    font-family: Fredoka;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
  }

  p {
    font-family: Fredoka;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

  }

  h2 {
    margin-top: 20px;
    width: 100px;
    font-family: Gilroy;
    font-size: 60px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color: #0CA941;
  }

  .backimg {
    height: 150px;
    background-image: url("./../img/5-test.png");
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 0px;
  }

  .backimgrev {
    height: 150px;
    background-image: url("./../img/1Ve-test.png");
    background-repeat: no-repeat;
    background-position-x: -5px;
    background-position-y: 0px;
  }

  .potflawer {
    min-height: 500px;
  }
}

.parttwo {

  .btnpart {
    position: relative;
  }

  button {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #374A3D;
    position: absolute;
    left: 50px;
    top: 22px;


  }

  .green {
    position: absolute;
    left: 150px;
    top: 25px;
  }

  .arrow {
    position: absolute;
    left: 0px;
    top: 25px;
  }

}

.parttree {
  margin-top: 200px;

  .btnlast {
    left: 20px;
    top: 20px;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #374A3D;
  }

  .green {
    left: 130px;
    top: 25px;
  }

  .arrow {
    left: 180px;
    top: 20px;
  }

  .sqare {
    border: 1px solid #0CA941;
    height: 240px;
    width: 240px;
    background-image: url("./../img/5-test.png");
    background-repeat: no-repeat;
    background-position-x: 70px;
    background-position-y: 0px;
    margin-bottom: 30px;
  }



  .fiesrsq {
    margin-top: 150px;
    margin-right: 50px;
  }

  .sqare.pink {
    background-image: url("./../img/7-test.png");
    background-repeat: no-repeat;
    background-position-x: 70px;
    background-position-y: 0px;
    margin-bottom: 30px;
  }

}